{% load humanize %}
<style>
    #uni_modal .modal-footer {
        display: none;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <dl>
                <dt class="mdc-typography mdc-theme--primary">ID de funcionário</dt>
                <dd class="ps-3 fw-bolder">{{ employee.code }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Nome Completo</dt>
                <dd class="ps-3 fw-bolder">{{ employee.firstname }} {{ employee.middlename }} {{ employee.lastname }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Sexo</dt>
                <dd class="ps-3 fw-bolder">{{ employee.gender }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Data de nascimento</dt>
                <dd class="ps-3 fw-bolder">{{ employee.dob|date:'M d, Y' }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Email</dt>
                <dd class="ps-3 fw-bolder">{{ employee.email }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Contato #</dt>
                <dd class="ps-3 fw-bolder">{{ employee.contact }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Stacks</dt>
                <dd class="ps-3 fw-bolder">{{ employee.address }}</dd>
            </dl>
        </div>
        <div class="col-sm-6">
            <dl>
                <dt class="mdc-typography mdc-theme--primary">Empresa cliente</dt>
                <dd class="ps-3 fw-bolder">{{ employee.department_id }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Cargo</dt>
                <dd class="ps-3 fw-bolder">{{ employee.position_id }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Data de contratação</dt>
                <dd class="ps-3 fw-bolder">{{ employee.date_hired|date:'M d, Y' }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Salário CLT</dt>
                <dd class="ps-3 fw-bolder">R$ {{ employee.salaryCLT|intcomma }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Salário PJ</dt>
                <dd class="ps-3 fw-bolder">R$ {{ employee.salaryPJ|intcomma }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Salário-Plano de Saúde</dt>
                <dd class="ps-3 fw-bolder">R$ {{ employee.salaryPS|intcomma }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Salário-Vale Alimentação</dt>
                <dd class="ps-3 fw-bolder">R$ {{ employee.salaryVA|intcomma }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Salário-Vale Refeição</dt>
                <dd class="ps-3 fw-bolder">R$ {{ employee.salaryVR|intcomma }}</dd>
                <dt class="mdc-typography mdc-theme--primary">Salário-Vale Transporte</dt>
                <dd class="ps-3 fw-bolder">R$ {{ employee.salaryVT|intcomma }}</dd>

                <dt class="mdc-typography mdc-theme--primary">Status</dt>
                <dd class="ps-3 fw-bolder">
                    {% if employee.status == 1 %}
                    <span class="badge bg-primary rounded-pill px-3">Ativo</span> {% else %}
                    <span class="badge bg-secondary rounded-pill px-3">Inativo</span> {% endif %}
                </dd>
            </dl>
        </div>
    </div>
    <div class="clear-fix py-3"></div>
    <div class="d-flex w-100 align-items-center justify-content-end">
        <button class="btn btn-default border btn-sm rounded-0 d-flex align-items-center" type="button" data-bs-dismiss="modal"><i class="material-icons mdc-list-item__start-detail mdc-drawer-item-icon" aria-hidden="true">close</i> Fechar</button>
    </div>
</div>